<div class="header">
    <div class="logo">
        <h2>JBM</h2>
    </div>
    <div (click)="closeOpenMenu()" class="nav">
        <i class="uil uil-bars"></i>
    </div>
</div>

<nav #asMainNav class="main-nav">
    <div (click)="closeOpenMenu()" class="close">
        <i class="uil uil-times"></i>
    </div>
    <ul  class="main-ul">
        <li class="main-li" *ngFor="let item of mainMenu.accessLink"><a (click)="toGo(item.route)" routerLinkActive="active">{{item.name}}</a></li>
        <li class="main-li" *ngFor="let item of mainMenu.closeSession"><a class="closeSession" (click)="item.click()">{{item.name}}</a></li>
    </ul>
</nav>
