.header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:6.25em;
    box-shadow: var(--shadow-g);
    background: var(--header-background);
    z-index: 10;
}
.logo{
    height: 4em;
    overflow: hidden;
    margin-left: 1.5em;
}
.nav{
    margin-right: 1.5em;
}
.main-nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
    box-shadow: var(--shadow-g);
    width: 0;
    transition: all 0.5s;
    z-index: 11;
}
.main-ul{
    position: relative;
    top: 2em;
    width: 100%;
    text-align: left;
    list-style: none;
    padding: 0;
}
.main-li{
    padding: .5em;
    padding-left: 1em;
    border-bottom:1px solid var(--color-h3);
}
i{
    font-size: 2em;
}
a{
    text-decoration: none;
    color: var(--color-h3);
}
.active{
    color: var(--color-h1);
}
.close{
    margin-left: .5em;
    margin-top: .5em;
}